<!DOCTYPE html>
<html>
<head>
  <title>Rateitapp</title>
  <%= stylesheet_link_tag    "rateitapp/application", media: "all" %>
  <%= javascript_include_tag "rateitapp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
